* {
    box-sizing: border-box;
    margin: 0 auto;
}

section {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

h1 {
    color: white;
}

span {
    display: inline-block;
}

.fade_in {
    --delay: 0s;
    animation-name: cooltext_kf;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.4,.4,.81,1.16);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: calc(var(--delay) * 0.1s);
}

@keyframes cooltext_kf {
    0% {
        transform: translateY(10vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}